@font-face {
  font-family: "digital";
  src: url("digital-7.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: digital;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0;
}
#main {
  width: 90%;
  margin: 10px auto;
  max-width: 450px;
}
#display {
  background-color: rgb(255, 255, 255);
  font-size: 48px;
  padding: 10px;
  text-align: right;
  color: rgb(12, 2, 39);
}
#buttons span {
  width: 25%;
  height: 60px;
  float: left;
  font-weight: bold;
  padding: 10px;
  text-align: center;
  font-size: 32px;
  border: 1px solid #ddd;
  cursor: pointer;
  transition-duration: 0.4s;
  background-color: #ccc;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

#buttons span:hover {
  background-color: #68a;
}

#buttons .btn-number {
  background-color: #ea8;
}
