@font-face {
  font-family: "digital";
  src: url("digital-7.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: digital;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-items: center;
}
#main {
  width: 80%;
  margin: 10px auto;
  max-width: 400px;
}
#display {
  width: 85%;
  background-color: #bccd95;
  border-radius: 8px;
  font-size: 48px;
  padding: 10px;
  text-align: right;
  color: rgb(12, 2, 39);
}
#buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-items: center;
}
#buttons span {
  margin: 3px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
  width: 20%;
  height: 54px;
  float: left;
  font-weight: normal;
  padding: 10px;
  text-align: center;
  font-size: 32px;
  border: 1px solid rgba(14, 7, 7, 0.137);
  border-radius: 8px;
  transition-duration: 0.4s;
  background-color: #ccc;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}

#buttons span:hover {
  background-color: #68a;
}

#buttons .btn-number {
  background-color: #003865;
  color: #fff;
}
